body{
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-family: Tahoma, Geneva, sans-serif;
	background-image: url('../img/fabric.jpg');
}
#main{
	height: 100%;
	width: 100%;
	color: #fff;
	padding-top: 1em;
}
#header, #question, #answers, #thanks{
	padding: 1em;
}

#header{
	position: relative;
	background-image: url('http://img.1ap.org/1x1/ccc');
	height: 10%;
}

#questiontimer{
	position: fixed;
	right: 40%;
	left: 40%;
	bottom: 0;
	margin: 0;
	padding: .3em 3em .6em 3em;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	background-image: url('../img/fabric.jpg');
}

#questiontimer.timeleft15 {background: #ffffff; color: #ff0000; }
#questiontimer.timeleft14 {background: #eeffee; color: #ff0000; }
#questiontimer.timeleft13 {background: #ddffdd; color: #ff0000; }
#questiontimer.timeleft12 {background: #ccffcc; color: #ff0000; }
#questiontimer.timeleft11 {background: #bbffbb; color: #ff0000; }
#questiontimer.timeleft10 {background: #aaffaa; color: #ff0000; }
#questiontimer.timeleft9 {background: #99ff99; color: #ff0000; }
#questiontimer.timeleft8 {background: #88ff88; color: #ff0000; }
#questiontimer.timeleft7 {background: #77ff77; color: #ff0000; }
#questiontimer.timeleft6 {background: #66ff66; color: #ff0000; }
#questiontimer.timeleft5 {background: #55ff55; color: #ff0000; }
#questiontimer.timeleft4 {background: #44ff44; color: #ff0000; }
#questiontimer.timeleft3 {background: #33ff33; color: #ff0000; }
#questiontimer.timeleft2 {background: #22ff22; color: #ff0000; }
#questiontimer.timeleft1 {background: #11ff11; color: #ff0000; }
#questiontimer.timeleft0 {background: #00ff00; color: #ff0000; }


#timer, #users{
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: .3em 3em .6em 3em;
	font-size: .6em;
	font-weight: bold;
	background-image: url('../img/fabric.jpg');
}

#users{
	left: 0;
	right: inherit;
	width: 380px;
	display: block;
}
 div.profile{
	padding-left: .2em;
	display: block;
	width: 185px;
	float: left;
	text-align: center;
}
div.profile img{
	width: 80px;
}
#users div.profileme{
	color: #37F72D;
}


#header #summary{

}
#waiting{
	color: #FFF;
	text-align: center;
	position: absolute;
	left: 40%;
	top: 40%;
	width: 20%;
	opacity: 0.8;
	vertical-align: middle;
}
#working{
	color: #000;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 30%;
	height: 30%;
	margin-left: -15%;
	margin-top: -15%;
	background-color: #fff;
	opacity: 0.8;
	border-radius: .5em;
	vertical-align: middle;
}
.form{
	font-size: 2em;
	padding: 2em;
	margin: auto;
}
.form .prompt{
	margin-left: 2em;
}
.form .prompt label{
	width: 7em;
	display: inline-block;
}

.form .prompt.pwide label{
	width: auto;
}

.form input{
	font-size: .9em;
}
.form input[type="radio"],
.form input[type="checkbox"]{
	vertical-align: middle;
}

.form button{
	margin: .5em 0 0 9em;
	border-radius: .5em;
	width: 40%;
	font-size: 1em;
	background: #DDDDDD;
}
#instructions p{
	text-align: center;
	padding: 0 2em;
	text-shadow: 0 -1px 1px rgba(255,255,255,0.25);
}

#question{
	clear: both;
	overflow: auto;
}
#question img{
	margin: .4em 1em 1em 0;
}
#question p{
}

#answers{
	clear: both;
}
#go a,
#answers a,
#init a,
#reset,
#agree, #begin{
	color: #000;
	
	font-size: 1.5em;
	display: block;
	margin: 2.5%;
	padding: 1%;
	text-decoration: none;
	text-align: center;
	border-radius: .5em;
	
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 2px 1px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);


	background-image: linear-gradient(bottom, rgb(180,181,177) 1%, rgb(235,230,235) 51%);
	background-image: -o-linear-gradient(bottom, rgb(180,181,177) 1%, rgb(235,230,235) 51%);
	background-image: -moz-linear-gradient(bottom, rgb(180,181,177) 1%, rgb(235,230,235) 51%);
	background-image: -webkit-linear-gradient(bottom, rgb(180,181,177) 1%, rgb(235,230,235) 51%);
	background-image: -ms-linear-gradient(bottom, rgb(180,181,177) 1%, rgb(235,230,235) 51%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.01, rgb(180,181,177)),
		color-stop(0.51, rgb(235,230,235))
	);
}

#answers a.disabled{
	opacity: 0.4;
}

#question a.disabled{
	opacity: 0.4;
}

#go a,
#reset, #agree, #begin{
	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
	background: linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

#reset{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

#agree, #begin{
	width: 30%;
	text-align: center;
	margin: 0 auto;
}

#timer.csGo,
#timer.csWarn,
#timer.csStop{
	border-radius: .3em;
}
#timer.csGo{
	background-color: #3f0;
}
#timer.csWarn{
	background-color: #ff3;
}
#timer.csStop{
	background-color: #f10;
}

#thanks .status{
	padding-top: 1em;
	width: 50%;
	margin: auto;
	text-align: center;
}

#thanks .thanks{
	width: 50%;
	margin: auto;
	text-align: center;
}

#thanks .sessionResults{
	width: 50%;
	background: white;
	border-size: 2px;
	border: 2px;
	border-color: blue;
	border-style: solid;
	text-align: center;
	margin: auto;
	padding: 2em;
	color: blue;
}

#thanks #sendSuccess{
	color: #37F72D;
}
#thanks #sendFail{
	color: #F00;
}

#thanks #diagnostic, 
#thanks #successDetail,
#thanks #failDetail{
	font-size: .5em;
}


#cancel, #quit, #restart, #swapRoles{
	display: block;
	position: absolute;
	right: .3em;
	top: .3em;
	color: #fff;
	font-size: .6em;
	text-decoration: none;
	padding: .5em .8em;
	
	border-radius: .5em;
	
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 2px 1px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	
	
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

#quit{
	right: 10em;
}

#restart{
	right: 14em;
}
#consent, #generalInstructions{
	font-size: .8em;
	padding: 2em;
	display: none;
}


