#question.picture img,
#answers.picture img{
	display: block;
	max-width: 300px;
	max-height: 300px;
	margin-left: auto;
	margin-right: auto;
}

#answers.picture a{
	width: 40%;
	float: left;
}
#answers.picture img{
	width: auto;
	height: 150px;
}
 div.partnerconfirm_container{
	padding-left: .2em;
	display: block;
	width: 250px;
	margin: auto;
	text-align: center;
}
 div.partnerconfirm_profile{
	padding-left: .5em;
	display: block;
	width: 120px;
	float: left;
	text-align: center;
}
.partnerconfirm_image {
	width: 100px;
}

#answers a.partnerconfirm_button, #question a.partnerconfirm_button{
  margin-top: 2.5%;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#question.taboo{
	text-align: center;
	font-weight: bold;
}

#question.listen{
	text-align: center;
}
#question.listen #jpUI{
	width: 420px;
	margin: auto;
	background-color: black;
	border-radius: .8em;
	padding: 1em;
}

#answers.listen a{
	width: 40%;
	float: left;
}

#answers.listen a p{
	font-size: .5em;
	
}
#answers.listen a p strong{
	font-size: 1em;
	
}

#jpUI{

	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 3%, rgba(102,102,102,1) 7%, rgba(44,44,44,1) 17%, rgba(0,0,0,1) 23%, rgba(17,17,17,1) 82%, rgba(28,28,28,1) 95%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(3%,rgba(89,89,89,1)), color-stop(7%,rgba(102,102,102,1)), color-stop(17%,rgba(44,44,44,1)), color-stop(23%,rgba(0,0,0,1)), color-stop(82%,rgba(17,17,17,1)), color-stop(95%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 3%,rgba(102,102,102,1) 7%,rgba(44,44,44,1) 17%,rgba(0,0,0,1) 23%,rgba(17,17,17,1) 82%,rgba(28,28,28,1) 95%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 3%,rgba(102,102,102,1) 7%,rgba(44,44,44,1) 17%,rgba(0,0,0,1) 23%,rgba(17,17,17,1) 82%,rgba(28,28,28,1) 95%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 3%,rgba(102,102,102,1) 7%,rgba(44,44,44,1) 17%,rgba(0,0,0,1) 23%,rgba(17,17,17,1) 82%,rgba(28,28,28,1) 95%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 3%,rgba(102,102,102,1) 7%,rgba(44,44,44,1) 17%,rgba(0,0,0,1) 23%,rgba(17,17,17,1) 82%,rgba(28,28,28,1) 95%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
.questionTranslateSource{
	font-size: 1.5em;
	width: 90%;
	margin: auto;
	text-align: center;
	border: thistle;
	border-style: dotted;
}
.questionTranslateTarget{
	font-size: 1.5em;
	width: 90%;
	margin: auto;
	text-align: center;
	font-style: italic;
}
.qTranslateDoneContainer{
	padding-top: 30px;
	display: inline-block;
	width: 100%;
}

.qTranslateDoneContainer .clickable{
	width: 28%;
	float: left;
	margin-left: 10%;
	margin-right: 10%;
}

.questionConsent .questionInstructions{
	font-size: .4em;
	padding: 2em;
	display: none;
	text-align: center;
}

 .clickable{
	width: 35%;
	color: #000;
	font-size: 1.5em;
	display: block;
	margin: auto;
	padding: 1%;
	text-decoration: none;
	text-align: center;
	border-radius: .5em;
	
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 2px 1px 5px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);


	background-image: linear-gradient(bottom, rgb(180,181,177) 1%, rgb(235,230,235) 51%);
	background-image: -o-linear-gradient(bottom, rgb(180,181,177) 1%, rgb(235,230,235) 51%);
	background-image: -moz-linear-gradient(bottom, rgb(180,181,177) 1%, rgb(235,230,235) 51%);
	background-image: -webkit-linear-gradient(bottom, rgb(180,181,177) 1%, rgb(235,230,235) 51%);
	background-image: -ms-linear-gradient(bottom, rgb(180,181,177) 1%, rgb(235,230,235) 51%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.01, rgb(180,181,177)),
		color-stop(0.51, rgb(235,230,235))
	);
}

#answers.choice,
#answers.consent,
#question.instructions,
#answers.instructions
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#answers.choice a{
	width: 40%;
	float: left;
}
